.itemContainer{
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
}
.itemContainerContent{
    width: 1000px;
    padding:40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}
.itemRow{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    border-bottom: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
}
.itemSearchBar{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.itemSearchBarCol{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.itemSearchBarInput{
    width: 500px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    
}
.itemSearchLabel{
    width: 150px;
    margin-right: 10px;
    font-size: 20px;
}
.itemSearchLabelLarge{
    margin-right: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}
.itemSearchBox{
    font-size: 20px;
}
.itemSearchButton{
    font-size: 20px;
    border: none;
    width: 70px;
    height: 100%;
    margin-left: 5px;
    cursor: pointer;
    background-color: green;
    color: white;
    transition: 150ms all ease;
}
.itemSearchButton:hover{
    transform: scale(1.10);
}
.itemSearchButton:active{
    transform: scale(1.05);
}
.itemRowHeader{
    font-weight: 700;
    display: flex;
    align-items: center;
}
.itemLabelId{
    width: 100px;
    padding:10px;
    display: flex;
    align-items: center;
}
.itemLabel{
    width: 150px;
    padding:10px;
    display: flex;
    align-items: center;
}
.itemButton{
    font-size: 20px;
    margin-right: 2px;
    border: none;
    background-color: green;
    color:white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 150ms all ease;
}
.itemButton:hover{
    transform: scale(1.06);
}
.itemButton:active{
    box-shadow: 1px 1px 1px 1px inset gray;
    transform: scale(1.01);
}
.itemButtonGreen{
    background-color: green;
}
.itemButtonBlue{
    background-color: rgb(0, 140, 255);
}
.itemButtonRed{
    background-color: red;
}
.itemContainerControl{
    width: 150px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-self: flex-end;
}
.itemContainerControlAction{
    margin-top: 20px;
    display: flex;
    align-items: center;
    align-self: flex-end;
}
.itemContainerButton{
    width: 35px;
    height: 30px;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: green;
    transition: 150ms all ease;
}
.itemContainerButton:hover{
    background-color: rgb(0, 99, 0);
}
.itemContainerButton:active{
    background-color: rgb(0, 82, 0);
}
.itemSubmitButton{
    width: 170px;
    height: 40px;
    background-color: green;
    color:white;
    border: none;
    border-radius: 5px;
    transition: 150ms all ease;
    cursor: pointer;
    margin-top: 30px;
    font-size: 20px;
    margin-right: 10px;
}
.itemSubmitButton:hover{
    background-color: rgb(0, 99, 0);
}
.itemSubmitButton:active{
    background-color: rgb(0, 82, 0);
}
.itemSubmitButtonUpdate{
    width: 170px;
    height: 40px;
    background-color: rgb(0, 119, 255);
    color:white;
    border: none;
    border-radius: 5px;
    transition: 150ms all ease;
    cursor: pointer;
    margin-top: 30px;
    font-size: 20px;
    margin-right: 10px;
}
.itemSubmitButtonUpdate:hover{
    background-color: rgb(0, 144, 228);
}
.itemSubmitButtonUpdate:active{
    background-color: rgb(0, 106, 177);
}
.itemSubmitButtonReset{
    width: 170px;
    height: 40px;
    background-color: rgb(77, 77, 77);
    color:white;
    border: none;
    border-radius: 5px;
    transition: 150ms all ease;
    cursor: pointer;
    margin-top: 30px;
    font-size: 20px;
    margin-right: 10px;
}
.itemSubmitButtonReset:hover{
    background-color: rgb(105, 105, 105);
}
.itemSubmitButtonReset:active{
    background-color: rgb(68, 68, 68);
}
.itemRadioGroup{
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
